{% extends 'base.html.twig' %}

{% form_theme form 'registro/form_errors.html.twig' %}

{% block nav %}
    <li class="active"><a href="#">{{ 'Formulario de solicitud'|trans }} </a></li>
    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"> <span class="lang-sm lang-lbl" lang="es"></span></a></li>
    <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}"> <span class="lang-sm lang-lbl" lang="en"></span> </a></li>
{% endblock %}

{% block body %}

    {{  form_errors(form) }}

  <div class="container">

        {% block info %}

            <div class="alert alert-info" role="alert">
                <strong>{{ 'Instrucciones'|trans}}</strong><br><br>
                {{ '- Asegúrese de que la información y los archivos que enviará sean los correctos, después de ser enviados ya no podrán ser modificados.' |trans}}
                <br>
                {{ '- La documentación requerida sólo podrá ser recibida por medio de este sistema.'|trans}}
                <br>
                {{ '- Los campos con * son requeridos. Cada uno de los archivos en los siguientes campos deberá ser en formato PDF y en tamaño no mayor que 25 MB.'|trans}}
                <br>
                {{ '- Una vez concluido el proceso de registro de documentos, el solicitante recibirá un acuse de recibo. De no recibir dicha notificación o si se tiene algún problema con el llenado de esta solicitud, el solicitante debe ponerse en contacto al siguiente correo:'|trans}}<br>
                <strong>webmaster<i class="fa fa-at"></i>matmor.unam.mx</strong>
            </div>

        {% endblock %}

    {{ form_start(form) }}

    <div class="page-header">
        <h1><small><i class="fa fa-user"></i> {{ 'Datos personales'| trans}}</small></h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.nombre, '*Nombre(s)'|trans) }}
                            </div>
                            <div>
                                {{ form_widget(form.nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'*Nombre(s)'|trans} } ) }}
                            </div>
                            <div>{{ form_errors(form.nombre) }}</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.paterno, '*Apellido paterno'|trans) }}
                            </div>
                            <div>
                                {{ form_widget(form.paterno, {'attr': {'class': 'form-control input-sm', 'placeholder':'*Apellido paterno'|trans} } ) }}
                            </div>
                            <div>{{ form_errors(form.paterno) }}</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.materno, 'Apellido materno'|trans) }}
                            </div>
                            <div>
                                {{ form_widget(form.materno, {'attr': {'class': 'form-control input-sm','placeholder':'Apellido materno'|trans} } ) }}
                            </div>
                            <div>{{ form_errors(form.materno) }}</div>
                        </div>
                    </div>

                    <div class="col-lg-4" >
                        <div class="form-group">
                            <div>{{ form_label(form.mail, '*Correo electrónico'|trans) }}</div>
                            <div>{{ form_widget(form.mail, {'attr': {'class': 'form-control input-sm', 'placeholder':'*Correo electrónico'|trans} } ) }}</div>
                            <div>{{ form_errors(form.mail) }}</div><br>
                        </div>
                    </div>

                    <div class="col-lg-8" >
                        <div class="form-group">
                            <div>{{ form_label(form.direccion, '*Dirección'|trans) }}</div>
                            <div>{{ form_widget(form.direccion, {'attr': {'class': 'form-control input-sm', 'placeholder':'*Dirección'|trans} } ) }}</div>
                            <div>{{ form_errors(form.direccion) }}</div><br>
                        </div>
                    </div>

          </div>

                </div>


        </div>


        </div>

    <div class="page-header">
        <h1><small><i class="fa fa-book"></i> {{ 'Documentación requerida'|trans }}</small></h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">



                <div class="col-lg-12">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <div>{{ form_widget(form.solicitudFile) }}</div>
                            <div>{{ form_errors(form.solicitudFile) }}</div><br>
                        </div>
                    </div>
                    <div class="col-lg-9 alert alert-warning" role="alert">
                        {{ 'Especificando los motivos del interesado para laborar en el CCM.'|trans}}<br>
                        {{ 'Incluir en la carta la direccion postal, la direccion de correo electronico, y el telefono del solicitante.'|trans}}
                    </div>


                    <div class="col-lg-3">
                        <div class="form-group">
                            <div>{{ form_widget(form.cvFile) }}</div>
                            <div>{{ form_errors(form.cvFile) }}</div><br>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="form-group">
                            <div>{{ form_widget(form.comprobanteFile) }}</div>
                            <div>{{ form_errors(form.comprobanteFile) }}</div><br>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="form-group">
                            <div>{{ form_widget(form.proyectoFile) }}</div>
                            <div>{{ form_errors(form.proyectoFile) }}</div><br>
                        </div>
                    </div>
                    <div class="col-lg-9 alert alert-warning" role="alert">
                        {{ 'Proyecto de investigación en donde se describa de manera breve, entre 2 a 4 cuartillas, la investigacion a realizar en el CCM.'|trans }}
                    </div>


                    <div class="col-lg-12">
                        <div class="form-group">
                            <div>{{ form_widget(form.articulosFile) }}</div>
                            <div>{{ form_errors(form.articulosFile) }}</div><br>
                        </div>
                    </div>


                    <div class="col-lg-12 alert alert-warning" role="alert">
                        {{ 'Se solicita que proporcione la siguiente información sobre 2 personas que lo recomiendan.'|trans }}<br>
                        {{ 'A cada una se le enviará un correo electrónico a la dirección proporcionada para solicitarle que nos haga llegar una su recomendación.'|trans }}
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.ref1nombre, '*Nombre de la persona que lo recomienda'|trans ~ ' 1') }}
                            </div>
                            <div>
                                {{ form_widget(form.ref1nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre'|trans} } ) }}
                            </div>
                            <div>{{ form_errors(form.ref1nombre) }}</div>
                        </div>
                    </div>



                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.ref1mail, '*Correo electrónico'|trans) }}</div>

                            <div>
                                {{ form_widget(form.ref1mail,{'attr': {'class': 'form-control input-sm', 'placeholder':'Correo electrónico'|trans} } ) }}
                            </div>
                            <div>{{ form_errors(form.ref1mail) }}</div>
                        </div>
                    </div>



                    <div class="col-lg-6">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.ref2nombre, '*Nombre de la persona que lo recomienda'|trans ~ ' 2') }}
                            </div>
                            <div>
                                {{ form_widget(form.ref2nombre,{'attr': {'class': 'form-control input-sm', 'placeholder':'Nombre'|trans} } ) }}
                            </div>
                            <div>{{ form_errors(form.ref2nombre) }}</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div>
                                {{ form_label(form.ref2mail, '*Correo electrónico'|trans) }}</div>

                            <div>
                                {{ form_widget(form.ref2mail,{'attr': {'class': 'form-control input-sm', 'placeholder':'Correo electrónico'|trans} } ) }}
                            </div>
                            <div>{{ form_errors(form.ref2mail) }}</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>





      <div class="col-lg-7 col-lg-offset-5">
          <input type="submit" value="{{ 'Enviar información'|trans }}"  class="btn btn-primary"/>

          {{ form_end(form) }}


      </div>


    </div>



{% endblock %}
