{% extends 'base.html.twig' %}

{% form_theme edit_form 'registro/form_errors.html.twig' %}

{% block nav %}
    <li class="active"><a href="#">{{ 'Recomendación'|trans }} </a></li>
    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"> <span class="lang-sm lang-lbl" lang="es"></span></a></li>
    <li><a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}"> <span class="lang-sm lang-lbl" lang="en"></span> </a></li>
{% endblock %}

{% block body %}

    <div class="container">

        {% block info %}
            <div class="alert alert-dismissable alert-info">
                <strong><span class="glyphicon glyphicon-warning-sign"></span> {{ 'Importante'|trans}}</strong> <br><br>
                {{ '- Debe asegurarse que el archivo a enviar a través de este formulario sea de un tamaño menor a 2MB y en formato PDF.'|trans}}<br>
                {{ '- Al finalizar el envío de este formulario debe de visualizar una pantalla de confirmación.'|trans}}<br>
                {{ '- Recibirá un correo electrónico a su cuenta y a la cuenta de correo de la persona que está recomendado, de no ser así favor de escribir a'|trans}} <strong>webmaster@matmor.unam.mx</strong>
                {{ 'para asegurarse que se haya recibido su información.'|trans }}

            </div>


        {% endblock %}


       {{ form_start(edit_form) }}

         <div class="row">


             {% if edit_form.ref1recomFile is defined %}
             <div class="col-lg-6">
                 <div class="form-group">
                     <div>{{ form_widget(edit_form.ref1recomFile) }}</div>
                     <div>{{ form_errors(edit_form.ref1recomFile) }}</div><br>
                 </div>
             </div>
             {% endif %}

             {% if edit_form.ref2recomFile is defined %}
                 <div class="col-lg-6">
                     <div class="form-group">
                         <div>{{ form_widget(edit_form.ref2recomFile) }}</div>
                         <div>{{ form_errors(edit_form.ref2recomFile) }}</div><br>
                     </div>
                 </div>
             {% endif %}


         </div>



        </div>


    <div class="row">
        <div class="col-lg-12 col-lg-offset-5">
            <input type="submit" value="{{ 'Enviar'|trans}}"  class="btn btn-primary"/>

            {{ form_end(edit_form) }}


        </div>
    </div>

{% endblock %}