{% extends 'base.html.twig' %}

{% block nav %}
    <li class="active"><a href="#">Registros</a></li>
    <li><a data-toggle="modal" data-target="#correos">Correos</a></li>
{% endblock %}

{% block navr %}
    <li class="active"><a href="{{ path('logout') }}">Logout<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}


    <div class="container">

        <ul class="breadcrumb">
            <li><a href="{{ path('admin') }}">Solicitudes de registro</a></li>
            <li class="active">{{ registro.nombre }} {{ registro.paterno }} {{ registro.materno }}</li>

        </ul>

        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                <i class="fa fa-check"></i> {{ flash_message }}
            </div>
        {% endfor %}



        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header col-lg-12">
                            <h2><i class="fa fa-user"></i> {{ registro.nombre }} {{ registro.paterno }} {{ registro.materno }}<small> - {{ registro.mail }}</small></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <dl>
                            <dt>Dirección</dt>
                            <dd>{{ registro.direccion }}</dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table">
                            <tr>
                                <td>Carta solicitud</td><td><a href="{{ vich_uploader_asset(registro, 'solicitudFile') }}"  target="_blank"/>{{ registro.solicitudName }}</a></td>
                            </tr>
                            <tr>
                                <td>Currículum Vitae</td><td><a href="{{ vich_uploader_asset(registro, 'cvFile') }}"  target="_blank" />{{ registro.cvName }}</a></td>
                            </tr>
                            <tr>
                                <td>Comprobante oficial de grado</td><td><a href="{{ vich_uploader_asset(registro, 'comprobanteFile') }}"  target="_blank" />{{ registro.comprobanteName }}</a></td>
                            </tr>
                            <tr>
                                <td>Proyecto de investigación</td><td><a href="{{ vich_uploader_asset(registro, 'proyectoFile') }}"  target="_blank" />{{ registro.proyectoName }}</a></td>
                            </tr>
                            <tr>
                                <td>Artículos</td><td><a href="{{ vich_uploader_asset(registro, 'articulosFile') }}"  target="_blank" />{{ registro.articulosName }}</a></td>
                            </tr>

                        </table>
                    </div>
                </div>

                {#<dl>#}
                {#<dt>Carta solicitud</dt>#}

                {#<dd><a href="{{ vich_uploader_asset(registro, 'solicitudFile') }}"  target="_blank"/>{{ registro.solicitudName }}</a></dd>#}

                {#</dl>#}
                {#</div>#}

                {#<div class="col-lg-2">#}
                {#<dl>#}
                {#<dt>Currículum Vitae</dt>#}
                {#<dd><a href="{{ vich_uploader_asset(registro, 'cvFile') }}"  target="_blank" />{{ registro.cvName }}</a></dd>#}
                {#</dl>#}
                {#</div>#}

                {#<div class="col-lg-3">#}
                {#<dl>#}
                {#<dt>Comprobante oficial de grado</dt>#}
                {#<dd><a href="{{ vich_uploader_asset(registro, 'comprobanteFile') }}"  target="_blank" />{{ registro.comprobanteName }}</a></dd>#}
                {#</dl>#}
                {#</div>#}

                {#<div class="col-lg-3">#}
                {#<dl>#}
                {#<dt>Proyecto de investigación</dt>#}
                {#<dd><a href="{{ vich_uploader_asset(registro, 'proyectoFile') }}"  target="_blank" />{{ registro.proyectoName }}</a></dd>#}
                {#</dl>#}
                {#</div>#}

                {#<div class="col-lg-2">#}
                {#<dl>#}
                {#<dt>Artículos</dt>#}
                {#<dd><a href="{{ vich_uploader_asset(registro, 'articulosFile') }}"  target="_blank" />{{ registro.articulosName }}</a></dd>#}
                {#</dl>#}
                {#</div>#}
                <div class="row">
                    <div class="page-header col-lg-12" >
                        <h1><small><i class="fa fa-check"></i> Recomendaciones</small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <dl>
                            <dt>Referencia 1</dt>
                            <dd>{{ registro.ref1nombre }}</dd>
                        </dl>
                    </div>

                    <div class="col-lg-4">
                        <dl>
                            <dt>Correo</dt>
                            <dd>{{ registro.ref1mail }}</dd>
                        </dl>
                    </div>

                    <div class="col-lg-4">
                        <dl>
                            <dt>Recomendación 1</dt>
                            <dd><a href="{{ vich_uploader_asset(registro, 'ref1recomFile') }}"  target="_blank" />{{ registro.ref1recomName }}</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="page-header col-lg-12" >
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <dl>
                            <dt>Referencia 2</dt>
                            <dd>{{ registro.ref2nombre }}</dd>
                        </dl>
                    </div>

                    <div class="col-lg-4">
                        <dl>
                            <dt>Correo</dt>
                            <dd>{{ registro.ref2mail }}</dd>
                        </dl>
                    </div>


                    <div class="col-lg-4">
                        <dl>
                            <dt>Recomendación 2</dt>
                            <dd><a href="{{ vich_uploader_asset(registro, 'ref2recomFile') }}"  target="_blank" />{{ registro.ref2recomName }}</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="row">
                    <div class="page-header col-lg-12">
                        <h1><small><i class="fa fa-edit"></i> Datos de control</small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <dl>
                            <dt>Seleccionado</dt>
                            {% if registro.activo == true %}
                                <dd><span class="label label-success">Si</span></dd>
                            {% else %}
                                <dd><span class="label label-danger">No</span></dd>
                            {% endif %}
                        </dl>
                    </div>
                    <div class="col-lg-4">
                        <dl>
                            <dt>Biomatemáticas</dt>
                            {% if registro.biomat == true %}
                                <dd><span class="label label-success">Si</span></dd>
                            {% else %}
                                <dd><span class="label label-danger">No</span></dd>
                            {% endif %}
                        </dl>
                    </div>

                    <div class="col-lg-2">
                        <dl>
                            <dt>Creado</dt>
                            <dd class="text-muted">{{ registro.createdAt|date('d-m-Y H:i:s') }}</dd>
                        </dl>

                    </div>
                    <div class="col-lg-2">
                        <dl>
                            <dt>Modificado</dt>
                            <dd class="text-muted">{{ registro.updatedAt|date('d-m-Y H:i:s') }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12 col-lg-offset-4">

            <a href="{{ path('admin') }}" class="btn btn-primary">
                Ver solicitudes
            </a>
            <a href="{{ path('registro_eval', { 'id': registro.id }) }}" class="btn btn-primary">
                Evaluar solicitud
            </a>
        </div>
    </div>

{% endblock %}

