{% extends 'base.html.twig' %}

{% block nav %}
    <li class="active"><a href="#">Registros</a></li>
    <li><a data-toggle="modal" data-target="#correos">Correos</a></li>
{% endblock %}

{% block navr %}
    <li class="active"><a href="{{ path('logout') }}">Logout<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}

<div class="container">

    <ul class="breadcrumb">
        <li><a href="{{ path('admin') }}">Solicitudes</a></li>
        <li><a href="{{ path('registro_show', { 'id': registro.id }) }}">Solicitud número {{ registro.id|title }}</a></li>
        <li class="active">Evaluación</li>
    </ul>

    <form action="{{ path('registro_eval', { 'id': registro.id }) }}" method="post" {{ form_enctype(form) }}>


        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header col-lg-12">
                            <h1><small><i class="fa fa-check-square"></i> {{ registro.nombre|title ~ ' ' ~  registro.paterno |title ~ ' ' ~ registro.materno |title }} </small></h1>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <strong>Seleccionado</strong>
                                </div>
                                <div>
                                    {% spaceless %}
                                        {% for child in form.activo %}
                                            <div class="radio-inline">
                                                {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                            </div>
                                        {% endfor %}
                                    {% endspaceless %}
                                </div>
                                <div>{{ form_errors(form.activo) }}</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    <strong>Biomatemáticas</strong>
                                </div>
                                <div>
                                    {% spaceless %}
                                        {% for child in form.biomat %}
                                            <div class="radio-inline">
                                                {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                            </div>
                                        {% endfor %}
                                    {% endspaceless %}
                                </div>
                                <div>{{ form_errors(form.biomat) }}</div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-12 col-lg-offset-4">
                    {{ form_rest(form) }}
                    <button type="submit"  class="btn btn-default">Guardar</button>
                    <button class="btn btn-danger" >Cancelar</button>
                </div>
            </div>
        </div>

    </form>


</div>
{% endblock %}
